/* Reset margin/padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Réglages généraux */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0C1C2E;
    color: #ffffff;
}

/* En-tête */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #0C1C2E;
    position: relative;
}

/* Logo */
.logo {
    font-family: 'Yeseva One', serif;
    font-size: 30px;
    color: #ffffff;
}

/* Icônes sociales alignées à droite */
.social-icons {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 40px;
    top: 20px;
}

.social-icons a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #1abc9c; /* Couleur au survol */
}

/* Section d'introduction */
.intro {
    padding: 50px 40px;
    text-align: left;
}

.intro p {
    font-size: 24px;
    margin: 10px 0;
}

.intro .highlight {
    color: #1abc9c;
    font-weight: bold;
}

/* Titre principal */
h1 {
    font-family: 'Yeseva One', serif;
    font-size: 42px;
    color: #ffffff;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
}

.highlight {
    color: #19d59d;
    font-weight: bold;
}

/* Galerie d'images */
.gallery {
    margin: 30px auto;
    max-width: 1200px;
}

/* Barre de filtres */
.filter-bar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 15px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

/* Garde la couleur initiale au survol */
.filter-bar a:hover {
    color: #ffffff; /* Reste blanc au survol */
    border-color: transparent; /* Pas de changement de bordure */
}

/* Rectangle vert permanent pour "Portrait" */
.filter-bar a:first-child {
    color: #ffffff;
    background-color: #1abc9c;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}

/* Grille d'images */
.grid {
    display: grid;
    gap: 10px;
}

/* Images */
.grid img {
    width: 100%;
    height: auto;
    display: block;
}

/* Responsive */
@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid img:nth-child(n + 10) {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid img:nth-child(n + 16) {
    display: none;
  }
}

@media (min-width: 1025px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid img:nth-child(n + 16) {
    display: none;
  }
}

/* Footer */
footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #666666;
}
